#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #242424; /* Dark Background */
  color: rgba(255, 255, 255, 0.87); /* Light text */
  font-family: Inter, Avenir, Helvectica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

h1, h2 {
  color: #646cff; /* A Nice highlight color */
  text-shadow: 1px 1px 2px rgbs(0,0,0,0.5);
}

.App {
  width: 100%;
}

/* Table Styling */
table {
  width: 90%;
  margin: 2rem auto;
  border-collapse: collapse;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  border-radius: 8px;
  overflow: hidden; /* Esures rounded corners on children */
}

th,td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #333;
}

thead th{
  background-color: #333;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
}

tbody tr:nth-of-type(even){
  background-color: #2a2a2a; /*slightly different background for even rows */
}

tbody tr:hover{
  background-color: #2a2a2a /* highlight row on hover */;
}

.balance-header, .balance-cell{
  text-align: right;
  font-weight: bold;
}

.error-message {
  color: #ff6b6b;
  background-color: #4a1f1f;
  padding: 10px;
  border-radius: 5px;
  margin: 1rem auto;
  width: fit-content;
}

/* General Link/Button Reset (Vite devault can be strong */
a {
  color: #646cff;
}
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button {
  border-color: #646cff;
}
button:focus,
button:focus-visible{
  outline: 4px auto -webkit-focus-ring-color;
}

.app-logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.app-logo:hover {
  filter: drop-shadow(0 0 2em #FFD700aa);
}
